body {
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #eee;
}

#header {
    background: rgba(0, 0, 0, 0.5);
    height: 10vh
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    display: flex;

}
footer {
    position: fixed;   
    bottom: 0;
    width: 100%;   
  background-color: #7c7c7c7f;
  padding: 8px;
  text-align: center;
}
#room-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
    text-shadow: 2px 2px 4px #000;
}

#room-description {
    background-color: #7b7b7b70;
    align-content: spa;
    bottom: 0vh;
    max-height: 10vh;
    font-size: 10px;
    text-shadow: 1px 1px 2px #000;
}

#chat-container {
    width: 40%;
    max-width: 50%;
    max-height: 50vh;
    background: rgba(0, 0, 0, 0);
    border-radius: 7px;
    margin: 7%;
}

#chat-log {
    background: #8685851d;
    border: 1px solid #555;
    height: 25vh;
    overflow-y: scroll;
    padding: 10px;
    color: #000000;
}

input {
    padding: 2px;
    border: 1px solid #666;
    border-radius: 4px;
    background: #7b7b7b70;
    color: #000000;
}

button {
    padding: 2px;
    background: #444;
    border: 1px solid #666;
    border-radius: 4px;
    color: #eee;
    cursor: pointer;
}

button:hover {
    background: #555;
}
