<!DOCTYPE html>
<html>
<head>
    <title>{{ room.name }}</title>
    <link rel="stylesheet" href="/app/static/css/room.css">
</head>

<body style="background-image: url('{{ room.background }}');">

    <div id="room-title">{{ room.name }}</div>
    <div id="room-description">{{ room.description }}</div>

<div id="chat-container">
    <div id="chat-log" style="height: 300px; overflow-y: scroll; background: #a9a9a9; color: #eee; padding: 10px;"></div>

    <input id="username" placeholder="Name" style="width: 100%; margin-top: 10px;">
    <input id="message" placeholder="Message" style="width: 100%; margin-top: 5px;">

    <button onclick="sendMessage()" style="width: 100%; margin-top: 5px;">Send</button>
</div>

<script src="/app/static/chat.js"></script>

    <script>
        const roomId = "{{ room.id }}";
    </script>
    <script src="/app/static/js/chat.js"></script>

</body>
</html>
